bin
Bin
obj
*ReSharper*
_Package
*.patch
*.hg
build
*.sln.cache
desktop.ini
*.orig
*.suo
TestResults
*.itrace.csdef
*.csproj.user
*.dotCover
*.vsmdi
.nuget/
packages/
.vs/
project.lock.json
*.user

src/NCalc/Generated/