<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="playstudios" value="https://nuget.pkg.github.com/playstudios/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <playstudios>
            <add key="Username" value="_" />
            <add key="ClearTextPassword" value="%GPR_TOKEN%" />
        </playstudios>
    </packageSourceCredentials>
</configuration>
